.container {
  height: 64px;
  width: 100%;
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--header-background);
}
.name{
  font-size: var(--h2-text);
}