.container{
  flex-grow: 1;
  border-right: 1px solid #e5eaf2;
}

.header{
  height: 65px;
  padding: 0 16px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid silver;
}

.header > h1{
  margin: 0;
  font-size: var(--h1-text);
}

.li{
  font-size: 1.125rem;
  font-weight: 700;
  letter-spacing: 2px;
  line-height: 1.5;
  cursor: pointer;
  display: flex;
}

.li:hover{
  background-color: aliceblue;
  color: var(--background-color);
}

.li > a{
  padding: 8px 12px;
  width: 100%;
}