.container {
  height: 100%;
  display: grid;
  grid-template-columns: 300px 1fr;
}

.emptyRoom {
  display: flex;
  justify-content: center;
  align-items: center;
}

.emptyRoom>h1 {
  margin: 0;
  padding: 0;
}

.chatRoom {
  height: 100%;
  position: relative;
}

.chattingBox {
  position: absolute;
  top: 65px;
  left: 0;
  right: 0;
  bottom: 0;
}