.container{
  height: 100%;
  display: grid;
  grid-template-columns: 300px 1fr;
}

.chatRoom{
  height: 100%;
  position: relative;
}

.chattingBox{
  position: absolute;
  top: 65px;
  left: 0;
  right: 0;
  bottom: 0;
}