.container{
  margin-top: 16px;
  padding: 0 16px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 70px;
  overflow-y: auto;
}

.container::-webkit-scrollbar {
  width: 8px;
}
.container::-webkit-scrollbar-thumb {
  background-color: aquamarine;
  border-radius: 16px;
}