/* .loginButton {
    padding: 12px;
    margin-bottom: 16px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.125rem;
    letter-spacing: 1px;
    border-radius: 20px;
    background-color: var(--secondary-background-color);
    color: var(--secondary-color);
    outline: none;
    border: thin solid var(--color);
    cursor: pointer;
} */

/* .loginButton svg {
    font-size: 1.25rem;
    margin-right: 8px;
} */